.accordion {
    &__categories {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        a {
        }

        a.is-active {
            font-weight: 700;
            color: var(--color-primary);
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__item {
        background-color: var(--color-light);
        width: 100%;
        border-radius: 6px;
        box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.05);
    }

    &__button {
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1.5rem;
        border-radius: 5px;
        cursor: pointer;
        gap: 1rem;
        background-color: var(--color-light);
        text-align: left;

        @media (--1024) {
            padding: 1.75rem;
        }

        h3 {
            font-size: 1rem;
            margin: 0;

            @media (--1024) {
                font-size: 1rem;
            }
        }

        i {
            color: var(--color-dark);
            font-size: 0.875rem;
            transition: all 0.3s;
        }

        &.is-active {
            span {
                color: var(--color-accent);
            }

            i {
                transform: rotate(180deg);
            }
        }
    }

    &__panel {
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease-in-out;
    }

    &__text {
        padding: 0 1.5rem 1.5rem 1.5rem;

        @media (--1024) {
            padding: 0 1.75rem 1.75rem 1.75rem;
        }
    }
}
